# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# CSS and JS files, use 2 spaces
[*.{js,css,scss,sass}]
indent_size = 2
indent_style = space

# PHP and Template files, use 4 spaces
[*.{php,twig,yml}]
indent_style = space
indent_size = 4

[*.{html5,svg,min.css,min.js}]
insert_final_newline = false
